body {
  background-color: var(--primary-white);
}

.header {
  background-color: var(--primary-white);

  svg {
    fill: var(--font-color);
  }

  button,
  a {
    color: var(--font-color);
    &.drop__active {
      background-color: var(--primary-100);
    }

    &:hover {
      p {
        color: var(--accent-color);
      }
      svg {
        fill: var(--accent-color);
      }
      img {
        border: 3px solid var(--accent-color);
      }
    }
  }

  &__text {
    svg {
      fill: var(--primary-color);
    }
  }
}
