.main-grid {
  display: grid;
  margin: auto;
  gap: 24px;
  grid-template-columns:
    [full-start] 1fr [wide-start] repeat(2, 78px)
    [main-start] 78px [min-start] repeat(
      6,
      78px
    ) [min-end] 78px [main-end] repeat(2, 78px)
    [wide-end] 1fr[full-end];
}

.kg-width {
  &-wide {
    grid-column: wide-start/wide-end;
  }

  &-full {
    grid-column: full-start/full-end;

    figcaption {
      padding: 0 1.6rem;
    }

    img {
      width: 100%;
    }
  }
}
