.main-grid {
  display: grid;
  margin: auto;
  gap: 32px 0;
  grid-template-columns:
    [full-start] 1fr [main-start] 90px [min-start] repeat(6, 90px)
    [min-end] 90px [main-end] 1fr[full-end];
}
