$primary-red: #fd4e00;
$primary-blue: #1b065e;

$color-primary: #1b065e;
$color-accent: #fd4e00;
$color-white: #f6fdfb;

$color-primary-l: #8057a1;
$color-primary: #332240;
$color-primary-d: #150c1d;
$color-secondary-l: #ff6075;
$color-secondary: #f91434;
$color-secondary-d: #930518;
$color-tertiary-l: #1bede6;
$color-tertiary: #01b8b1;
$color-tertiary-d: #003e3c;

$blue-100: #010511;
$blue-200: #010b28;
$blue-300: #051747;
$blue-400: #0a2368;
$blue-500: #102f85;
$blue-700: #3057c2;
$blue-800: #426ad6;
$blue-900: #698df0;
$light-blue: #a8bfff;
$white-blue: #e3eaff;

$red-100: #33000a;
$red-200: #590012;
$red-300: #80001a;
$red-400: #9e0020;
$red-500: #c20027;
$red-600: #d6153c;
$red-700: #e5395c;
$red-800: #f85777;
$red-900: #ff8099;
$light-red: #ffb0c0;
$white-red: #ffe0e7;
