$primary-red: #c20027;
$primary-blue: #0a2368;
$color-accent: #c20027;

$blue-100: #010511;
$blue-200: #010b28;
$blue-300: #051747;
$blue-400: #0a2368;
$blue-500: #102f85;
$blue-700: #3057c2;
$blue-800: #426ad6;
$blue-900: #698df0;
$light-blue: #a8bfff;
$white-blue: #e3eaff;

$red-100: #33000a;
$red-200: #590012;
$red-300: #80001a;
$red-400: #9e0020;
$red-500: #c20027;
$red-600: #d6153c;
$red-700: #e5395c;
$red-800: #f85777;
$red-900: #ff8099;
$light-red: #ffb0c0;
$white-red: #ffe0e7;
