:root {
  --header-height: 60px;
  --header-desc-display: none;
  --font-primary: "Mulish", sans-serif;
  --font-secondary: "Mulish", sans-serif;
  --font-space: 0.04em;
  --font-weight: 500;
  --font-bweight: 700;
  --font-tweight: 800;
  --font-height: 1.875;
  --font-small: 1.125rem;
  --font-regular: 1.3rem;
  --font-large: 1.5rem;

  --primary-color: #1b065e;
  --pcolor-num: 60, 8, 226;
  --primary-white: #f9f7ff;
  --whitecolor-num: 249, 247, 255;
  --primary-50: #b29aff;
  --primary-100: #835cff;
  --primary-200: #6439ec;
  --primary-300: #4c27c0;
  --primary-400: #321492;
  --primary-500: #1b065e;
  --primary-600: #110340;
  --primary-700: #0c012d;
  --primary-lgray: #b1a9cc;
  --primary-mgray: #645b80;
  --primary-dgray: #332f41;
  --accent-color: #fd4e00;

  --font-color: black;
}
