:root {
  --header-height: 60px;
  --header-desc-display: none;
  --font-primary: "Mulish", sans-serif;
  --font-secondary: "Mulish", sans-serif;
  --font-space: 0.04em;
  --font-weight: 500;
  --font-bweight: 700;
  --font-tweight: 800;
  --font-height: 1.875;
  --font-small: 1.125rem;
  --font-regular: 1.3rem;
  --font-large: 1.5rem;

  --primary-color: #1b065e;
  --pcolor-num: 60, 8, 226;
  --primary-white: #f9f7ff;
  --whitecolor-num: 249, 247, 255;
  --primary-50: #dbd1fb;
  --p50color-num: 219, 209, 251;
  --primary-100: #bda9ff;
  --primary-200: #916ffd;
  --primary-300: #6d40ff;
  --primary-400: #3c08e2;
  --primary-500: #2c00ba;
  --primary-600: #1d0078;
  --primary-700: #0a0028;
  --primary-lgray: #b1a9cc;
  --primary-mgray: #645b80;
  --primary-dgray: #332f41;
  --accent-color: #fd4e00;

  --font-color: black;
}
