$space-100: 4px;
$space-200: 8px;
$space-300: 12px;
$space-400: 16px;
$space-500: 20px;
$space-600: 24px;
$space-700: 28px;
$space-800: 32px;
$space-900: 36px;
$space-1000: 40px;
$space-1100: 44px;
$space-1200: 48px;
$space-1400: 56px;
$space-1600: 64px;
$space-1800: 72px;
$space-2000: 80px;
$space-2200: 88px;
$space-2400: 96px;
$space-2600: 104px;
$space-2800: 112px;
$space-3000: 120px;
$space-3200: 128px;
