@use "../mixins/allmixins" as mix;
@use "../variables/allvars" as var;

.introduction {
  display: flex;
  flex-direction: flex-column;
  align-items: center;
  margin-top: var.$space-1600;
  margin-bottom: var.$space-1600;

  @include mix.breakpoint("md") {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: var.$space-1200;

    h1 {
      padding-right: var.$space-800;
    }

    h4 {
      text-align: left;
      padding-right: var.$space-800;
    }
  }

  h1 {
    font-size: var.$font-6xl;
    font-weight: 700;
    letter-spacing: -0.05em;
    line-height: 1.25;
  }

  h4 {
    text-align: center;
    font-size: var.$font-lg;
    margin-top: var.$space-500;
  }
}
