@use "../mixins/allmixins" as mix;
@use "../variables/allvars" as var;

.mstories {
  h2 {
    margin: 72px 0;
    text-align: center;
    font-size: 3rem;
    color: var(--primary-color);
  }

  &--posts {
    display: grid;
    grid-template-columns: repeat(3, 384px);
    gap: 24px;
    margin: 64px 0;
    justify-content: center;
  }

  &__preview {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &--img {
      position: relative;

      &--badge {
        position: absolute;
        top: 8px;
        right: 8px;
        border: 2px solid var(--primary-white);
        color: var(--primary-white);
        font-size: 1rem;
        line-height: normal;
        padding: 4px 8px;
        border-radius: 25px;
        font-weight: var(--font-bweight);
        background: none;

        a {
          color: inherit;
          text-decoration: none;
        }

        &:hover {
          background-color: var(--primary-white);
          color: var(--primary-color);
        }
      }
    }

    &--meta {
      font-size: 1rem;
      display: flex;
      justify-content: space-between;
      font-weight: var(--font-bweight);
      color: var(--primary-300);
    }

    &--excerpt {
      font-size: 1.125rem;
      -webkit-line-clamp: 3;
      line-clamp: 3;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      overflow: hidden;
      display: -webkit-box;
    }

    h3 {
      font-size: 1.6rem;
      font-weight: var(--font-tweight);

      a {
        text-decoration: none;
        color: var(--primary-color);

        &:hover {
          color: var(--accent-color);
        }
      }
    }
  }
}
