@use "../../variables/allvars" as *;

.definition {
  font-family: $secondary-font;
  display: flex;
  flex-direction: column;

  strong {
    font-weight: 700;
  }

  &__head {
    display: flex;
    gap: 16px;
    margin-bottom: 12px;

    &--def {
      margin-top: auto;
      font-weight: 500;
      font-style: italic;
      font-size: 1.8rem;
      line-height: 1.4;
    }

    &--title {
      font-size: 3rem;
      font-weight: 700;
      letter-spacing: 0.02em;
    }
  }

  &__sub {
    font-size: 1.75rem;
    font-weight: 500;
    font-style: italic;
    color: $white-blue;
  }

  &__body {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.02em;
    margin: 32px 0;
  }

  &__final {
    font-size: 1.25rem;
    font-style: italic;
  }
}
